body {
    background-color: #d6d7da;
 
}

/* HEADER start */
header {
    display: flex;
    background-color: #1f2937;
    color: #fff;
    padding: 10px;
    height: 100px;
    position: sticky;
    top: 0%;
}

.head {
    display: flex;
}

ul {
    display: flex;
    gap: 10px;
}

.head-logo {
    font-size: 24px;
    color: #f9faf8;
}

.head-link {
    margin-left: auto;
}
/* End of HEADER */

/* Main Start */
.main {
    display: flex;
    /*Guide background color, may be deleted*/
    background-color: #000;
    flex-direction: column;
    border: 1px solid #000;
}
/* MAIN End */

/* First section start */
.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* Border made just to separate sections, may delete when make the actual design */
    background-color: #1f2937;
    color: #fff;
    gap: 20px;
}

.hero-text {
    border: 1px solid white;
    max-width: 400px;
}

.section-1 h1 {
    font-size: 48px;
    font-weight: bold;
    color: f9faf8;
}

.section-1 .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #fff;
    height: 20px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

.section-1 .car-washing-img {
    width: 500px;
    height: 200px;
}
/* End of first section */

/* Second section start */
.section-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.section-2 h1 {
    display: flex;
    justify-content: center;
}

.section-2 .boxes {
    display:flex;
    gap: 32px;
    justify-content: center;
}
/* End of second section */

/* Third section start */

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    background-color: #e5e7eb;
}

/* End of third section */

/* Fourth section start */

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

/* End of fourth section */

.section-1,.section-2, .section-3, .section-4 {
    min-height: 432px;
}

/* Footer section start */

.footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #1f2937;
    color: #fff;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* End of footer section */