body {
    background-color: #d6d7da;
}

/* HEADER start */
header {
    display: flex;
    border: 1px solid #fff;
    background-color: #1f2937;
    color: #fff;
}

ul {
    display: flex;
    gap: 10px;
}

.head-link {
    margin-left: auto;
}
/* End of HEADER */

/* Main Start */
.main {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #fff;
    border: 1px solid #000;
    flex: 1;
}
/* MAIN End */

/* First section start */
.section-1 {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    /* Border made just to separate sections, may delete when make the actual design */
    border: 1px solid #fff;
    background-color: #1f2937;
    color: #fff;
}

.section-1 .sign-up {
    background-color: #3882f6;
    color: #fff;
}

.section-1 .car-washing-img {
    width: 500px;
    height: 200px;
    margin-left: auto;
    border-radius: 10px;
}
/* End of first section */

/* Second section start */
.section-2 {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    border: 1px solid #000;
    background-color: #fff;
}

.section-2 h1 {
    display: flex;
    justify-content: center;
}

.section-2 .boxes {
    display:flex;
    gap: 32px;
    justify-content: center;
}
/* End of second section */

/* Third section start */

.section-3 {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    border: 1px solid #000;
    background-color: #e5e7eb;
}

/* End of third section */

/* Fourth section start */

.section-4 {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    border: 1px solid #000;
    background-color: #fff;
}

/* End of fourth section */

/* Footer section start */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: #1f2937;
    color: #fff;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%; 
}

/* End of footer section */